<mat-card class="journey">
  <div *ngIf="client$ | async as client">Bonjour {{client.name}}</div>
  <div>Veuillez choisir votre prochain voyage !</div>
  <ng-container *ngIf="cities$ | async as cities else loading">
    <app-search-reservation (searchJourney)="searchJourney($event)" [cities]="cities">
    </app-search-reservation>
    <ng-container *ngFor="let journey of journeys">
      <app-search-journey-result [journey]="journey">
      </app-search-journey-result>
    </ng-container>

  </ng-container>
</mat-card>


<ng-template #loading>Loading...</ng-template>

