<form (ngSubmit)="search()" [formGroup]="form"
      class="add-reservation">
  <div class="add-reservation__card">
    <mat-form-field appearance="outline">
      <mat-label>Départ</mat-label>
      <mat-select [formControlName]="DEPARTURE_FORM_KEY">
        <mat-option *ngFor="let city of departureCities" [value]="city">
          {{city.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button (click)="switchCities()" mat-icon-button type="button">
      <mat-icon color="primary">compare_arrows</mat-icon>
    </button>

    <mat-form-field appearance="outline">
      <mat-label>Arrivée</mat-label>
      <mat-select [formControlName]="ARRIVAL_FORM_KEY">
        <mat-option *ngFor="let city of arrivalCities" [value]="city">
          {{city.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Date de départ</mat-label>
      <input [formControlName]="DATE_FORM_KEY" [matDatepicker]="dp" [min]="currentDate" matInput readonly="true">
      <mat-datepicker-toggle [for]="dp" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #dp disabled="false"></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Passagers</mat-label>
      <mat-select [formControlName]="SEATS_FORM_KEY">
        <mat-option *ngFor="let number of seats" [value]="number">
          {{ number }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button [disabled]="form.invalid" color="primary" mat-raised-button type="submit">Chercher</button>

  </div>
</form>
