<div class="unpaid-reservation">
  <div>Voici vos réservation en cours</div>
  <table [dataSource]="reservation?.reservedJourneys" class="unpaid-reservation__table" mat-table>

    <ng-container matColumnDef="departure">
      <th *matHeaderCellDef mat-header-cell>Départ</th>
      <td *matCellDef="let element" mat-cell> {{element.journey.departure.name}} </td>
    </ng-container>

    <ng-container matColumnDef="arrival">
      <th *matHeaderCellDef mat-header-cell>Arrivée</th>
      <td *matCellDef="let element" mat-cell> {{element.journey.arrival.name}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th *matHeaderCellDef mat-header-cell>Date</th>
      <td *matCellDef="let element" mat-cell> {{element.journey.date | date: 'medium'}} </td>
    </ng-container>

    <ng-container matColumnDef="pricePerSeat">
      <th *matHeaderCellDef mat-header-cell>Prix par place</th>
      <td *matCellDef="let element" mat-cell> {{element.journey.price | currency : 'EUR'}} </td>
    </ng-container>

    <ng-container matColumnDef="seats">
      <th *matHeaderCellDef mat-header-cell>Sièges</th>
      <td *matCellDef="let element" mat-cell> {{element.seats}} </td>
    </ng-container>

    <ng-container matColumnDef="totalPrice">
      <th *matHeaderCellDef mat-header-cell>Prix total</th>
      <td *matCellDef="let element" mat-cell> {{element.journey.price * element.seats | currency : 'EUR'}} </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="deleteJourney(element)" mat-icon-button type="button">
          <mat-icon color="primary">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>

  <div *ngIf="reservation">Prix total : {{reservation.totalPrice | currency : 'EUR'}}</div>

  <div>
    <button (click)="openCreditCardPaymentModal()" [disabled]="!areJourneysReserved()" color="primary"
            mat-raised-button>Payer par
      carte
    </button>
  </div>

  <div>
    <button (click)="openPaypalPaymentModal()" [disabled]="!areJourneysReserved()" color="primary" mat-raised-button>
      Payer par
      paypal
    </button>
  </div>

</div>
